.simple-image-layout {
	list-style: none;
	margin: 0; 
	padding: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.simple-image-layout li {
	margin: 2px;
	float: left;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
}

.simple-image-layout li.active {
	border: 1px solid #888;
	box-shadow: 1px 1px 5px #888888;
}

.simple-image-layout li.state-checked {
	opacity: 0.8;
}

.simple-image-layout li img {
	height: 100%;
	max-width: 100%;
}
